@import url("https://fonts.googleapis.com/css?family=Pridi:400,700&subset=thai");

/*Font*/
$defaultFont: "Pridi", serif;
$highlightFont: "Pridi", serif;

/*Color*/
$primaryColor: #f44336;
$lightPrimaryColor: lighten($primaryColor, 10%);
$darkPrimaryColor: darken($primaryColor, 10%);
$whiteGreyColor: #fafafa;
$darkGreyColor: #212121;

$textColor: $darkGreyColor;
$backgroundColor: darken($whiteGreyColor, 0.1%);
$blockquoteColor: lighten($darkGreyColor, 30%);

/*Size*/
$fontSize: 1.2rem;
$siteWidth: 45rem;
