/*Font*/
$defaultFont: "Kanit", sans-serif;

/*Color*/
$whiteGreyColor: #fafafa;
$darkGreyColor: #212121;

$defaultFontColor: $darkGreyColor;
$backgroundColor: $whiteGreyColor;

/*Size*/
$fontSize: 1.2rem;
